<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/insurance.css') }}">
</head>
<body>

    <h1 id="tools"> Farming Tools & Equipment Support </h1>

<p id="toolsp">
Government schemes provide modern tools and machinery to improve farm efficiency and reduce labor cost.<br>
These schemes promote mechanization and technology adoption in agriculture.<br>
Farmers get access to advanced equipment at subsidized rates.
</p>

<section class="hero3">
  <div class="card-container">

    <div class="card">
      <h2 class="card-title">Sub-Mission on Agricultural Mechanization</h2>
      <h3 class="card-subtitle">Farm Equipment Scheme</h3>
      <p class="card-text">Provides subsidy on tractors, harvesters, and modern farming tools.</p>
    </div>

    <div class="card">
      <h2 class="card-title">Custom Hiring Centers (CHC)</h2>
      <h3 class="card-subtitle">Farm Equipment Scheme</h3>
      <p class="card-text">Allows farmers to rent agricultural machinery at affordable rates.</p>
    </div>

    <div class="card">
      <h2 class="card-title">PM KUSUM Yojana</h1>
       <h3 class="card-subtitle">Farm Equipment Scheme</h3>
     <p class="card-text">Supports installation of solar pumps and renewable energy equipment.</p>
    </div>

    <div class="card">
      <h2 class="card-title">Soil Health Card Scheme</h1>
       <h3 class="card-subtitle">Farm Support Scheme</h3>
      <p class="card-text">Provides soil testing and nutrient recommendations for better yield.</p>
    </div>

  </div>
</section>


    
</body>
</html>