<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/insurance.css') }}">
</head>
<body>

    <h1 id="insu"> Insurance provide by Government </h1>

    <p id="insup">Insurance schemes for farmers provide financial protection against crop loss, natural disasters, accidents, and life risks.<br>
       These schemes help farmers recover from unexpected losses caused by floods, droughts, pests, or other calamities by offering compensation at low premium rates.<br>
       Government-backed insurance ensures income stability and security for farmers and their families.
    </p>

    <section class="hero3">
  <div class="card-container">
    
    <div class="card">
    
    <a href="{{ url_for('pmgI.html#pmfb')}}"><h2 class="card-title">Pradhan Mantri Fasal Bima Yojana</h2></a>
      <h3 class="card-subtitle">Insurance Scheme</h3>
      <p class="card-text">Protect crops from natural disasters and losses.</p></div>


    <div class="card">
      <a href="pmgI.html#pmjj"><h2 class="card-title">Pradhan Mantri Jeevan Jyoti Bima Yojana</h2></a>
      <h3 class="card-subtitle">Insurance Schemes</h3>
      <p class="card-text">Offers life insurance cover of ₹2 lakh to farmers in case of death.</p>
    </div>
    <div class="card">
        <a href="pmgI.html#pmsy"><h2 class="card-title">Pradhan Mantri Suraksha Bima Yojana (PMSBY)</h2></a>
      <h3 class="card-subtitle">Insurance Schemes</h3>
      <p class="card-text">Provides accident insurance cover for death or disability at a very low premium.</p>
    </div>
    <div class="card">
       <a href="pmgI.html#wbci"><h2 class="card-title">Weather Based Crop Insurance Scheme</h2></a>
      <h3 class="card-subtitle">Insurance Schemes</h3>
      <p class="card-text">Compensates farmers for crop loss caused by adverse weather conditions</p>
    </div>
    </div>


</section>

    
</body>
</html>