<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/insurance.css') }}">
</head>
<body>

    <h1 id="loan"> Loans provided by Government </h1>

<p id="loanp">
Government loan schemes help farmers meet agricultural expenses such as seeds, fertilizers, equipment, and irrigation.<br>
These schemes offer low-interest loans and easy repayment options to reduce financial burden.<br>
They promote sustainable farming and improve farmers’ income and productivity.
</p>

<section class="hero3">
  <div class="card-container">

    <div class="card">
      <h2 class="card-title">Kisan Credit Card(Scheme)</h2>
      <h3 class="card-subtitle">Loan Scheme</h3>
      <p class="card-text">Provides short-term credit for crop production and farming needs at low interest rates.</p>
    </div>

    <div class="card">
      <h2 class="card-title">Agriculture Infrastructure Fund</h2>
      <h3 class="card-subtitle">Loan Scheme</h3>
      <p class="card-text">Offers loans for building farm infrastructure like storage, cold chains, and warehouses.</p>
    </div>

    <div class="card">
      <h2 class="card-title">PM MUDRA Yojana (For Agri Allied)</h2>
      <h3 class="card-subtitle">Loan Scheme</h3>
      <p class="card-text">Provides financial support to farmers for agri-business and allied activities.</p>
    </div>

    <div class="card">
      <h2 class="card-title">NABARD Refinance Scheme</h2>
      <h3 class="card-subtitle">Loan Scheme</h3>
      <p class="card-text">Supports farmers with long-term credit for agriculture and rural development.</p>
    </div>

  </div>
</section>


    
</body>
</html>