
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Insurance Schemes</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pmgl.css') }}">
</head>
<body>
<!-- Scheme 1 -->
<section id="pmfb" class="scheme">
  <h1 class="section-title" id="pmfbTitle">Pradhan Mantri Fasal Bima Yojana (PMFBY)</h1>
  <p class="section-desc"  id="pmfbDesc">
    This scheme provides insurance cover for crops against natural disasters, pests, and diseases.  
    Eligible farmers can claim compensation at low premium rates to recover from unexpected losses.
  </p>
  <ul class="benefits" id="pmfbList">
    <li>Protects crops from natural disasters</li>
    <li>Low premium rates</li>
    <li>Financial stability for farmers</li>
  </ul>
  <a href="https://pmfby.gov.in/" target="_blank" class="apply-link">Apply Here</a>
  <br><br>
</section>

<!-- Scheme 2 -->
<section id="pmjj" class="scheme">
  <h1 class="section-title">Pradhan Mantri Jeevan Jyoti Bima Yojana</h1>
  <p class="section-desc">
    Life insurance scheme that provides coverage of ₹2 lakh for farmers in case of death.  
    Helps secure family income.
  </p>
  <ul class="benefits">
    <li>Life coverage of ₹2 lakh</li>
    <li>Very low premium</li>
    <li>Financial security for farmer's family</li>
  </ul>
  <a href="https://www.jansuraksha.gov.in/" target="_blank" class="apply-link">Apply Here</a>
  <br><br>
</section>

<!-- Scheme 3 -->
<section id="pmsy" class="scheme">
  <h1 class="section-title">Pradhan Mantri Suraksha Bima Yojana</h1>
  <p class="section-desc">
   PMSBY is an accident insurance scheme launched by the Government of India.<br> It provides affordable personal accident insurance coverage to individuals in case of accidental death or permanent disability. <br>The scheme is mainly aimed at people aged 18–70 years who have a bank account.
  </p>
  <ul class="benefits">
    <li>Life coverage of ₹2 lakh</li>
    <li>₹1 lakh for permanent partial disability</li>
    <li>Financial security for farmer's family</li>
  </ul>
  <a href="https://www.jansuraksha.gov.in/" target="_blank" class="apply-link">Apply Here</a>
  <br><br>
</section>

<!-- Scheme 4 -->
<section id="wbci" class="scheme">
  <h1 class="section-title">Weather Based Crop Insurance Scheme</h1>
  <p class="section-desc">
    Compensates farmers for crop loss caused by adverse weather conditions such as drought or floods.
  </p>
  <ul class="benefits">
    <li>Coverage for drought, flood, and extreme weather</li>
    <li>Financial support for recovery</li>
  </ul>
  <a href="https://www.jansuraksha.gov.in/" target="_blank" class="apply-link">Apply Here</a>
  <br><br>
</section>
<div class="language-switch">
  <button onclick="setLanguage('en')">English</button>
  <button onclick="setLanguage('hi')">हिंदी</button>
</div>


<!-- Back Button -->
<a href="Scheme_gov.html" class="back-link">← Back to Main Page</a>
<script src="{{ url_for('static', filename='js/pmgl.js') }}"></script>

</body>
</html>


