<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/insurance.css') }}">
</head>
<body>

    <h1 id="subsidy"> Subsidies provided by Government </h1>

<p id="subsidyp">
Subsidy schemes help farmers reduce the cost of agricultural inputs like fertilizers, irrigation, and machinery.<br>
These schemes encourage modern farming practices and improve productivity.<br>
Government subsidies make farming affordable and profitable for small and marginal farmers.
</p>

<section class="hero3">
  <div class="card-container">

    <div class="card">
      <h2 class="card-title">Fertilizer Subsidy</h2>
      <h3 class="card-subtitle">Subsidy Scheme</h3>
      <p class="card-text">Provides fertilizers at affordable prices to support crop production.</p>
    </div>

    <div class="card">
      <h2 class="card-title">PM Krishi Sinchai Yojana</h2>
      <h3 class="card-subtitle">Subsidy Scheme</h3>
      <p class="card-text">Supports irrigation facilities like drip and sprinkler systems.</p>
    </div>

    <div class="card">
      <h2 class="card-title">PM Kisan Samman Nidhi</h1>
      <h3 class="card-subtitle">Subsidy Scheme</h3>
      <p class="card-text">Provides direct income support of ₹6000 per year to farmers.</p>
    </div>

    <div class="card">
      <h2 class="card-title">Solar Pump Subsidy</h1>
      <h3 class="card-subtitle">Subsidy Scheme</h3>
     <p class="card-text">Encourages use of solar energy by subsidizing solar-powered pumps.</p>
    </div>

  </div>
</section>


    
</body>
</html>